* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 5px;
}

.container {
    display: flex;
    margin-top: 30px;
}

.container div {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}

.right-box {
    background-color: #1E90FF;
}

.left-box {
    background-color: #F1F1F1;
}

@media screen and (max-width:800px) {
    .container {
    flex-direction: column;
}
}

