* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

header {
    text-align: center;

}

.top-header {
    width: 100%;
    padding: 10px;
    background-color: #FFFF00;
    font-size: 14px;
}

.bottom-header {
    width: 100%;
    padding: 60px;
    background-color: #1ABC9C;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-header-content h2 {
    margin-bottom: 16px;
    font-size: 40px;
}

.bottom-header-content p {
    font-size: 20px;
}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    display:flex;
    background-color: #333;
}

.navbar a {
    color: #f1f1f1;
    text-decoration: none;
    padding: 15px 20px;
}

.navbar a:hover {
    background-color: #ddd;
    color: #333;
}

.row {
    display: flex;
}

.side-bar {
    flex: 30%;
    padding: 40px 20px;
    background-color: #f1f1f1;
}

.top-sidebar {
    margin-bottom: 20px;
}

.main {
    flex: 70%;
    padding: 40px 20px;
    background-color: #ffffff;
}

.main-content {
    margin-bottom: 20px;
}

.banner-img {
    height: 160px;
    border-radius: 5px;
    background-color: rgb(170, 170, 170);
    margin: 16px 0;
    padding: 15px;
}

.small-img {
    border-radius: 5px;
    background-color: rgb(170, 170, 170);
    height: 60px;
    margin: 16px 0;
    padding: 15px;
}

.footer {
    background-color: #dddddd;
    padding: 40px;
    text-align: center;
}

@media screen and (max-width: 700px) {


    .main, .navbar, .row {
        flex-direction: column;

    }


    .side-bar, .main {
        padding: 30px 5px;

    }
}