*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    margin-bottom: 5px;
}

.container {
    display: flex;
    background-color: #1E90FF;
    margin-bottom: 30px;
    border-radius: 10px;
}

.container > div {
    background-color: #f1f1f1;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 32px; 
    border-radius: 10px;
    width: 100px;

}

.flex-column {
    flex-direction: column;
}

.row-reverce {
    flex-direction: row-reverse;
}

.column-reverce {
    flex-direction: column-reverse;
}

.wrap {
    flex-wrap: wrap;
}

.row-center {
    justify-content: center;
}

.column-center {
    align-items: center;
}